<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
{{ .Hugo.Generator }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>

<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
</head>
<body>

<!-- <div class="container">

	<header role="banner">
		<div class="header-logo">
			<a href="/"><img src="{{ .Site.Params.logo }}" width="60" height="60" alt="{{ .Site.Title }}"></a>
		</div>
		{{ if eq $isHomePage true }}<h1 class="site-title">{{ .Site.Title }}</h1>{{ end }}
	</header> -->


	<div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list-left">
          <li class="navbar-item">
          	<div class="header-logo">
				<a href="/"><img class="header-logo" src="{{ .Site.Params.logo }}" width="60" height="60" alt="{{ .Site.Title }}"></a>
			</div>
		  </li>
		  <li class="navbar-item navbar-title"><h1>Residual Analysis - Jason Gowans Blog</h1></li>
		</ul>
		<ul class="navbar-list-right">
          <li class="navbar-item"><a class="navbar-link" href="/page/about">About</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">

