<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta name="generator" content="Hugo 0.18" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="alternate" href="/index.xml" type="application/rss+xml" title="Residual Analysis - Jason Gowans blog">
<title>How To Add Pagination To Your Hugo Blog - Residual Analysis - Jason Gowans blog</title>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
</head>
<body>




	<div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list-left">
          <li class="navbar-item">
          	<div class="header-logo">
				<a href="/"><img class="header-logo" src="/images/jg.jpg" width="60" height="60" alt="Residual Analysis - Jason Gowans blog"></a>
			</div>
		  </li>
		  <li class="navbar-item navbar-title"><h1>Residual Analysis - Jason Gowans Blog</h1></li>
		</ul>
		<ul class="navbar-list-right">
          <li class="navbar-item"><a class="navbar-link" href="/page/about">About</a></li>
          <li class="navbar-item"><a class="navbar-link" href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">



	<main role="main">
		<article itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">How To Add Pagination To Your Hugo Blog</h1>
			<span class="entry-meta"><time itemprop="datePublished" datetime="2016-12-30">December 30, 2016</time></span>
			<section itemprop="entry-text">
				

<p>I recently moved my blog from <a href="https://jekyllrb.com/">Jekyll</a> to <a href="https://gohugo.io">Hugo</a>, using the <a href="http://themes.gohugo.io/hugo-zen/">Hugo Zen</a> theme. While I love the simplicity of the theme (and its use of <a href="http://getskeleton.com/">Skeleton</a> instead of Bootstrap), it doesn&rsquo;t come with pagination already baked in. So, I decided to add some of my own. Here&rsquo;s how I tackled it.</p>

<h1 id="add-a-pagination-html">Add a pagination.html</h1>

<p>In the <code>layouts/partials folder</code>, I created a new file called <code>pagination.html</code></p>

<div class="highlight" style="background: #272822"><pre style="line-height: 125%"><span></span><span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 1 </span>{{ $pag := $.Paginator }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 2 </span>{{ if gt $pag.TotalPages 1 }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 3 </span>    <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">nav</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;pagination&quot;</span> <span style="color: #a6e22e">role</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;navigation&quot;</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 4 </span>        <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">span</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;page-number&quot;</span><span style="color: #f8f8f2">&gt;</span>Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">span</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 5 </span>        {{ if $pag.HasPrev }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 6 </span>            <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">a</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;newer-posts&quot;</span> <span style="color: #a6e22e">href</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;{{ $pag.Prev.URL }}&quot;</span><span style="color: #f8f8f2">&gt;</span>← Newer Posts<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">a</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 7 </span>        {{ end }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 8 </span>        {{ if $pag.HasNext }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 9 </span>            <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">a</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;older-posts&quot;</span> <span style="color: #a6e22e">href</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;{{ $pag.Next.URL }}&quot;</span><span style="color: #f8f8f2">&gt;</span>Older Posts →<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">a</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">10 </span>        {{ end }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">11 </span>    <span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">nav</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">12 </span>{{ end }}
</pre></div>


<p>Next, in my <code>index.html</code>, I called the Paginate object:</p>

<p><div class="highlight" style="background: #272822"><pre style="line-height: 125%"><span></span><span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 1 </span>{{ partial &quot;header.html&quot; . }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 2 </span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 3 </span><span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">main</span> <span style="color: #a6e22e">role</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;main&quot;</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 4 </span>    <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">ol</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;post-list&quot;</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 5 </span>        {{ $pag := .Paginate (where .Data.Pages &quot;.Params.hidefromhome&quot; &quot;!=&quot; &quot;true&quot;) }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 6 </span>        {{ range $pag.Pages }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 7 </span>            <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">article</span> <span style="color: #a6e22e">itemscope</span> <span style="color: #a6e22e">itemtype</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;http://schema.org/Blog&quot;</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 8 </span>			<span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">h2</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;entry-title&quot;</span> <span style="color: #a6e22e">itemprop</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;headline&quot;</span><span style="color: #f8f8f2">&gt;&lt;</span><span style="color: #f92672">a</span> <span style="color: #a6e22e">href</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;{{ .RelPermalink }}&quot;</span><span style="color: #f8f8f2">&gt;</span>{{ .Title }}<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">a</span><span style="color: #f8f8f2">&gt;&lt;/</span><span style="color: #f92672">h2</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px"> 9 </span>			<span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">span</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;entry-meta&quot;</span><span style="color: #f8f8f2">&gt;&lt;</span><span style="color: #f92672">time</span> <span style="color: #a6e22e">itemprop</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;datePublished&quot;</span> <span style="color: #a6e22e">datetime</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;{{ .Date.Format &quot;</span><span style="color: #a6e22e">2006-01-02</span><span style="color: #960050; background-color: #1e0010">&quot;</span> <span style="color: #960050; background-color: #1e0010">}}&quot;</span><span style="color: #f8f8f2">&gt;</span>{{ .Date.Format &quot;January 02, 2006&quot; }}<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">time</span><span style="color: #f8f8f2">&gt;&lt;/</span><span style="color: #f92672">span</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">10 </span>		<span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">article</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">11 </span>        {{ end }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">12 </span>    <span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">ol</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">13 </span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">14 </span>    <span style="color: #f8f8f2">&lt;</span><span style="color: #f92672">div</span> <span style="color: #a6e22e">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;post-navigation&quot;</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">15 </span>        {{ partial &quot;pagination.html&quot; . }}
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">16 </span>    <span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">div</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">17 </span><span style="color: #f8f8f2">&lt;/</span><span style="color: #f92672">main</span><span style="color: #f8f8f2">&gt;</span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">18 </span>
<span style="background-color: #f0f0f0; padding: 0 5px 0 5px">19 </span>{{ partial &quot;footer.html&quot; . }}
</pre></div>
</p>

<p>And that&rsquo;s it! Hope this helps.</p>

			</section>
		</article>
		<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'jasongowans';
    var disqus_identifier = 'http:\/\/jasongowans.net\/post\/2016-12-30-how-to-paginate-hugo-blog\/';
    var disqus_title = 'How To Add Pagination To Your Hugo Blog';
    var disqus_url = 'http:\/\/jasongowans.net\/post\/2016-12-30-how-to-paginate-hugo-blog\/';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</main>


	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="copyright">Copyright &copy; <a href="//twitter.com/jasongowans">Jason Gowans</a> </div>
	</footer>

</div>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-64063024-1', 'auto');
	ga('send', 'pageview');
</script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
