{{ partial "header.html" . }}

<main role="main">
    <ol class="post-list">
        {{ $pag := .Paginate (where .Data.Pages ".Params.hidefromhome" "!=" "true") }}
        {{ range $pag.Pages }}
            <article itemscope itemtype="http://schema.org/Blog">
			<h2 class="entry-title" itemprop="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
			<span class="entry-meta"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
		</article>
        {{ end }}
    </ol>

    <div class="post-navigation">
        {{ partial "pagination.html" . }}
    </div>
</main>

{{ partial "footer.html" . }}
