{{ partial "header.html" . }}

	<main role="main">
			<h1 class="entry-title" itemprop="headline">{{ .Title }}</h1>
			<section itemprop="entry-text">
				{{ .Content }}
			</section>
	</main>

{{ partial "footer.html" . }}